.col {
    background-color: rgba(160, 141, 120, 1);
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
    min-height: 280px;
}

.test-col {
    background-color: rgba(255, 245, 235, 1) !important;
}

.title-div {
    /* border: 2px solid blue; */
    width: 30%;
    height: 100%;
}

.carousel-div {
    /* border: 2px solid white; */
    width: 70%;
    height: 100%;
}

.container .row .col .title-div h3 {
    margin: auto;
    line-height: 280px;
    vertical-align: middle;
}